<!DOCTYPE HTML>

<html>
	<head>
		<title>LocIMMO</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="css/main.css" />
	</head>
	<body class="subpage">

		<!-- Header -->
			<header id="header">
				<div class="inner">
					<a href="#/projetImmo" class="logo">LocIMMO</a>
					<nav id="nav">
						<a href="#/projetImmo">Home</a>
						<a href="#/projetImmo/louer">Chercher</a>
						<a href="#/projetImmo/ramener">Mettre à louer</a>
					</nav>
					<a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
				</div>
			</header>

		<!-- Three -->
			<section id="two" class="wrapper">
				<div class="inner">
					<header class="align-center">
						<h2>Recherchez une location</h2>
						<p>Louez la maison ou l'appartement qui vous ressemble</p>
					</header>
				</div>
				<div class="flex flex-2">
						<article>
							<div class="image fit">
								<img src="images/maison.jpg" alt="Pic 01" />
							</div>
							<header>
								<h3>Louez une maison</h3>
							</header>
							<p>Définissez vos critères pour la location d'une maison</p>
							<footer>
								<a href="#" class="button special">More</a>
							</footer>
						</article>
						<article>
							<div class="image fit">
								<img src="images/appart.jpg" alt="Pic 02" />
							</div>
							<header>
								<h3>Louez un appartement</h3>
							</header>
							<p>Définissez vos critères pour la location d'un appartement</p>
							<footer>
								<a href="#" class="button special">More</a>
							</footer>
						</article>
					</div>
			</section>

		<!-- Footer -->
			<footer id="footer">
				<div class="inner">
					<div class="flex">
						<div class="copyright">
							&copy; Untitled. Design: <a href="https://templated.co">TEMPLATED</a>. Images: <a href="https://unsplash.com">Unsplash</a>.
						</div>
						<ul class="icons">
							<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
							<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
							<li><a href="#" class="icon fa-linkedin"><span class="label">linkedIn</span></a></li>
							<li><a href="#" class="icon fa-pinterest-p"><span class="label">Pinterest</span></a></li>
							<li><a href="#" class="icon fa-vimeo"><span class="label">Vimeo</span></a></li>
						</ul>
					</div>
				</div>
			</footer>

		<!-- Scripts -->
			<script src="js/jquery.min.js"></script>
			<script src="js/skel.min.js"></script>
			<script src="js/util.js"></script>
			<script src="js/main.js"></script>

	</body>
</html>