<!-- 
<div>
	<a href="#/projetImmo/louer">Louer</a><br>
	<a href="#/projetImmo/ramener">Ramener une location</a>
</div> -->


<!DOCTYPE HTML>
<html>
	<head>
		<title>LocIMMO</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="css/main.css" />
	</head>
	<body>

		<!-- Header -->
			<header id="header">
				<div class="inner">
					<a href="#/projetImmo" class="logo">LocIMMO</a>
					<nav id="nav">
						<a href="#/projetImmo/example">Home</a>
						<a href="#/projetImmo/louer">Chercher</a>
						<a href="#/projetImmo/ramener">Mettre à louer</a>
					</nav>
					<a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
				</div>
			</header>

		<!-- Banner -->
			<section id="banner">
				<h1>Bienvenue sur LocIMMO</h1>
				<p>Le site de tous les bon plans de location</p>
			</section>

		<!-- One -->
			<section id="one" class="wrapper">
				<div class="inner">
					<div class="flex flex-3">
						<article>
							<header>
								<h3>Vous cherchez à louer ?</h3>
							</header>
							<p>Avec LocIMMO, il n'a jamais été aussi simple de trouver une location</p>
							<footer>
								<a href="#/projetImmo/louer" class="button special">More</a>
							</footer>
						</article>
						<article>
							<header>
								<h3>Vous avez un bien à louer ?</h3>
							</header>
							<p>Avec LocIMMO, il n'a jamais été aussi simple de mettre une location</p>
							<footer>
								<a href="#/projetImmo/ramener" class="button special">More</a>
							</footer>
						</article>
						<article>
							<header>
								<h3>Vous voulez modifier </br> une location ?</h3>
							</header>
							<p>Avec LocIMMO, il n'a jamais été aussi simple de modifier une location</p>
							<footer>
								<a href="#/projetImmo/modifie" class="button special">More</a>
							</footer>
						</article>
					</div>
				</div>
			</section>

		<!-- Two -->
			<section id="two" class="wrapper style1 special">
				<div class="inner">
					<header>
						<h2>Idée de départ</h2>
						<p>Fondé par deux étudiants de MIAGE</p>
					</header>
					<div class="flex flex-2">
						<article>
						<div class="box person">
							<div class="image round">
								<img src="images/nico.jpg" alt="Person 1" />
							</div>
							<h3>Fondateur</h3>
							<p>Nicolas NOTARI</p>
						</div>
						</article>
						<article>
						<div class="box person">
							<div class="image round">
								<img src="images/photo_CV.JPG" alt="Person 2" />
							</div>
							<h3>Fondateur</h3>
							<p>Guillaume THOMAS</p>
						</div>
						</article>
					</div>
				</div>
			</section>

		<!-- Three -->
			<section id="three" class="wrapper special">
				<div class="inner">
					<header class="align-center">
						<h2>Toujours au courant</h2>
						<p>Nous sommes d'une efficacité redoutable</p>
					</header>
					<div class="flex flex-2">
						<article>
							<div class="image fit">
								<img src="images/maison.jpg" alt="Pic 01" />
							</div>
							<header>
								<h3>Louez une maison</h3>
							</header>
							<p>Définissez vos critères pour la location d'une maison</p>
							<footer>
								<a href="#" class="button special">More</a>
							</footer>
						</article>
						<article>
							<div class="image fit">
								<img src="images/appart.jpg" alt="Pic 02" />
							</div>
							<header>
								<h3>Louez un appartement</h3>
							</header>
							<p>Définissez vos critères pour la location d'un appartement</p>
							<footer>
								<a href="#" class="button special">More</a>
							</footer>
						</article>
					</div>
				</div>
			</section>

		<!-- Footer -->
			<footer id="footer">
				<div class="inner">
					<div class="flex">
						<div class="copyright">
							&copy; Untitled. Design: <a href="https://templated.co">TEMPLATED</a>. Images: <a href="https://unsplash.com">Unsplash</a>.
						</div>
						<ul class="icons">
							<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
							<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
							<li><a href="#" class="icon fa-linkedin"><span class="label">linkedIn</span></a></li>
							<li><a href="#" class="icon fa-pinterest-p"><span class="label">Pinterest</span></a></li>
							<li><a href="#" class="icon fa-vimeo"><span class="label">Vimeo</span></a></li>
						</ul>
					</div>
				</div>
			</footer>

		<!-- Scripts -->
			<script src="js/jquery.min.js"></script>
			<script src="js/skel.min.js"></script>
			<script src="js/util.js"></script>
			<script src="js/main.js"></script>

	</body>
</html>