<!DOCTYPE HTML>
<html>
	<head>
		<title>LocIMMO</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="css/main.css" />
	</head>
	<body>

		<!-- Header -->
			<header id="header">
				<div class="inner">
					<a href="#/projetImmo" class="logo">LocIMMO</a>
				</div>
			</header>

		<!-- Banner -->
			<section id="banner">
				<h1>Bienvenue sur LocIMMO</h1>
				<p>Le site de tous les bons plans de location</p>
			</section>

							<section id="one" class="wrapper">
					<div class="inner">
					<header class="align-center">
						<h2>Vous cherchez un logement ?</h2>
					</header>
						<div class="flex flex-3">
							<article>
								<div class="image fit">
								<img src="images/maison.jpg" alt="Pic 01" />
							</div>
								<header>
									<h3>Vous souhaitez louer une maison ?</h3>
								</header>
								<footer>
									<a href="#/projetImmo/trouverLogement/Maison" class="button special">Louer une maison</a>
								</footer>
							</article>
														<article>
								<div class="image fit">
								<img src="images/appart.jpg" alt="Pic 01" />
							</div>
								<header>
									<h3>Vous souhaitez louer un appartement ?</h3>
								</header>
								<footer>
									<a href="#/projetImmo/trouverLogement/Appartement" class="button special">Louer une un appartement</a>
								</footer>
							</article>
							<article>
								<header>
									<h3>Vous souhaitez déposer une annonce ?</h3>
								</header>
								<footer>
									<a href="#" class="button special">Déposer une annonce</a>
								</footer>
							</article>
						</div>
					</div>
				</section>
		<!-- Footer -->
			<footer id="footer">
				<div class="inner">
					<div class="flex">
						<ul class="icons">
							<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
							<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
							<li><a href="#" class="icon fa-linkedin"><span class="label">linkedIn</span></a></li>
						</ul>
					</div>
				</div>
			</footer>

		<!-- Scripts -->
			<script src="js/jquery.min.js"></script>
			<script src="js/skel.min.js"></script>
			<script src="js/util.js"></script>
			<script src="js/main.js"></script>

	</body>
</html>