<meta charset="utf-8" />
<script src="https://code.angularjs.org/1.2.5/i18n/angular-locale_da-dk.js"></script>
<table class="table table-striped table-bordered table-hover">
        <thead>  
          <tr>  
            <th>ID</th>  
            <th>Ville</th>  
            <th>Prix</th>  
          </tr>  
        </thead>  
        <tbody>  
	<tr ng-repeat="logement in listeLogement">
		<td> {{logement.id}} </td>
		<td> {{logement.ville}} </td>
		<td> {{logement.prix | currency}} </td>
	</tr>
        </tbody>  
</table>  
